

body {
    background-color: grey;
    color: white;
    text-align: left;
    font-family: Georgia;
	max-width: 60%;
	margin: auto;
}
a {
	color: #a4afb1;
}
h1 {
	text-align: center;
}
.video {
	padding: 10px;
	text-align: center;
}

.video p {
	font-size: 14px;
}

.soundcite {
	display: inline;
}