body {
  font: 1em 'Quattrocento Sans';
  color: #FFF;
  line-height: 175%;
  margin: 0 15% 0;
  background: #27272A url(images/lb24.png) no-repeat center / auto 100vh fixed;
}

.title {
  margin-top: 4em;
  font: 2.5em 'Quattrocento';
  text-align: center;
  margin-bottom: 0;
  color: #FFF;
}

h1 {
  font: 2em 'Quattrocento';
  margin-top: 1.5em;
  text-shadow: 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000;
  color: #FFF;
}

h2 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin: 0;
  color: #AB7CD4;
}

h3 {
  font: 13px 'Quattrocento';
  margin: 0;
  color: #7785AC;
}

h4 {
  font: 11px 'Quattrocento Sans';
  margin: 0;
  padding-bottom: .5em;
  color: #97C9A7;
}

header {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  line-height: 175%;
  text-align: right;
}

nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5.5em;
  font-size: 1.5em;
  line-height: 175%;
}

#about {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5em;
  border-radius: 1em;
}

#contact {
  text-align: center;
  margin: 1em auto;
}

#writing {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5em;
  border-radius: 1em;
}

#media {
  width: 100%;
  height: calc(100vh - 50px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 1em;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 60vh;
}

#media img {
  height: 200px;
}

#media::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}
#media::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.75); /* color of the track */
}
#media::-webkit-scrollbar-thumb {
  background: #000; /* color of the thumb */
  border-radius: 6px; /* roundness of the thumb */
}
#media::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the thumb on hover */
}

#contact a {
  padding: 1.5em 2em;
}

nav a {
  padding: 0 1.5em;
}

a {
  text-decoration: none;
}

a:link {
  color: #9AC6C5;]
}

a:visited {
  color: #9AC6C5;
}

a:hover, a:focus { 
  color: #97C9A7;
}

a:active {
  color: #FF00FF;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 4px;
  resize: none;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #rgba(0, 0, 0, 0.75);
  padding: 1em -.5em;
}



