
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    width: 100%;
    font-size: 100%;
    text-align: center;
}

header {
    background: linear-gradient(135deg, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.2)), url(images/lbsunset.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    padding: 3.2rem 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 350;
    letter-spacing: .125rem;
}

h2 {
    color:#000000;
    font-size: 1.8rem;
    font-weight: 300;
}

nav {
    background-color: #333;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
    font-size: 1.1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 1rem;
}

nav ul li a:hover {
    color: #7ad5c9;
}

nav .active_page {
    color: #C59AEA;
}

main {
    width: 75%;
    max-width: 900px;
    height: 100%;
    margin: 0;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-grow: 1;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.intro-text {
    text-align: center;
    margin: 2px;
    margin-top: 2rem;
    padding: 1rem;
}

.text-block {
    max-width: 55rem;
    width: 90%;
    margin: 2rem auto;
    padding: 1.8rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.text-block p {
    margin: 1rem;
    display: block;
    font-size: 1rem;
    text-align: left;
}

.icon {
    font-size:4rem;
    margin-bottom:.5rem;
}

.wip p {
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    font-size: .7rem;
    padding: .5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #f0f0f0;
    padding: .5rem;
}

@media (max-width:900px) {
    main {
        width: 75vw;
    }
}
@media (max-width:600px) {
    main {
        width: 85vw;
    }
}
@media (max-width: 480px) {
    main {
        width: 90vw;
    }
}

@media (max-width:400px) {
    main {
        width: 75vw;
    }
}

